* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: beige;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*transform을 해야 정 중앙에 배치*/
    background-color: rgb(218, 163, 195);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    /*2번째 값을 키울수록 밑 그림자가 커지고, 선명해짐. 3번쨰 값 키우면  번지는 느낌 듦*/
    width: 500px;
    height: 500px;
    text-align: center;
    /*텍스트 가운데로*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*글씨두껍게*/
}

h1 {
    margin: 30px 0;
    font-family: fantasy
}

.add-element {
    margin: 12px 0;
}

input {
    padding: 5px 4px;
    width: 70%;
    border: none;
    /*테두리 삭제*/
    font-family: fantasy;
}

button {
    padding: 8px 15px;
    background-color: rgb(237, 226, 248);
    border: none;
    border-radius: 10px;
    color: black;
    font-family: fantasy, serif;
    font-size: large;
}

.element-list {
    height: 350px;
    overflow-y: auto;
    /*?? 잘모르겠는데, 넘치는 부분 잘라주는건가?*/
}

ul {
    padding: 10px;
}

li {
    list-style: none;
    /*??변화x모르겠음*/
    padding: 10px 5px;
    background-color: rgb(244, 243, 245);
    margin: 10px 0;
    box-shadow: 0 2px 8px white;
    border-radius: 30px;
    transition: 1s;
    /*li 항목에 커서올리면 색이 나타나는 시간*/
}

button:hover {
    /*누르면 변하는 색*/
    background-color: rgb(188, 189, 240);
}

li:hover {
    background-color: rgb(188, 189, 240);
    transform: translateX()/*커서를 올리면 색이 변하게*/
}

.checked {
    /*리스트가 체크된 후의 모습*/
    text-decoration: line-through;
    /*줄긋기*/
    background-color: rgb(188, 189, 240);
}